<div class="section">
<section id="section1">
  <img id="cupcake" src="http://www.augustacountylibrary.org/wp-content/uploads/2016/06/cupcake6.png">
  <p id="bakery-name"><strong>Sugar Street Sweets</strong></p>
</section>
</div>
