<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Arapey|Crete+Round|Rochester&display=swap" rel="stylesheet">
    <title></title>
    <nav>
      <div class="container">
      <div>
      <li><img id="logo" src="https://i.ya-webdesign.com/images/baker-drawing-baking-equipment-1.png" alt=""></li>
      <li><a href="/">Home</a></li>
      <li>|</li>
      <li><a href="cakes">Cakes</a></li>
      <li>|</li>
      <li><a href="cookies">Cookies</a></li>
      <li>|</li>
      <li><a href="muffins">Muffins</a></li>
      <li>|</li>
      <li><a href="events">Events</a></li>
      </div>
      <div id="social-logo">
      <li><a href="https://www.snapchat.com/"><img id="socials" src="https://pmcvariety.files.wordpress.com/2017/11/snapchat-logo.jpg?w=700&h=393&crop=1"></a></li>
      <li><a href="https://www.twitter.com/"><img id="socials" src="https://seeklogo.com/images/T/twitter-2012-negative-logo-5C6C1F1521-seeklogo.com.png"></a></li>
      <li><a href="https://www.facebook.com/"><img id="socials" src="https://westwind.org/wp-content/uploads/2018/11/facebook-logo-png.png"></a></li>
      </div>
      </div>
    </nav>
  </head>
  <body>
    <%= yield %>
  </body>
  <script src="main.js"></script>
</html>
