<section id="subscribe-section">
<div class="form-container">
<form action="">
<div class="row">
<div class="column_1">
<label for="first">First Name</label>
</div>
<div class="column_2">
<input type="text" id="first" name="first_name" placeholder="Your first name..">
</div>
</div>
<div class="row">
<div class="column_1">
<label for="last">Last Name</label>
</div>
<div class="column_2">
<input type="text" id="last" name="last_name" placeholder="Your last name..">
</div>
<div class="row">
<div class="column_1">
<label for="email">Email Address</label>
</div>
<div class="column_2">
<input type="text" id="email" name="email_address" placeholder="Your email address..">
</div>
</div><br>
<img id="thanks"src="https://media0.giphy.com/media/l0MYyDa8S9ghzNebm/giphy.gif">
</form>
</div>
</section>
